/**
 * Created by haoran.shu on 2015/12/10.
 * 选项卡TerseTabs提供的样式
 */
/* tab容器ul样式 */
.terse_tab_pack{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    /* 以下属性定义文本不能被选择 */
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}

/* 默认的选项卡选中时的样式 */
.terse_tab_pack .terse_tab_item_selected{
    background: white;
}

/* 选项卡未选中时的样式 */
.terse_tab_pack .terse_tab_item_normal{
    background: silver;
}

/* 第一种情况：水平排列，无边距 */
.terse_tabs_style0{
    width: 100%;
    line-height: 40px;
    background: silver;
}
.terse_tabs_style0 .terse_tab_style0{
    float: left; /* 设置左浮,所有的li排列在一行 */
    padding-left: 20px;
    padding-right: 20px;
}

/* 第二种情况：垂直排列，无边距 */
.terse_tabs_style1{
    height: 100%;
    width: 60px;
    text-align: center;
    background: silver;
}
.terse_tabs_style1 .terse_tab_style1{
    line-height: 50px;
}

/* 第三种情况：水平排列，有边距 */
.terse_tabs_style2{
    line-height: 40px;
}
.terse_tabs_style2 .terse_tab_style2{
    float: left; /* 设置左浮,所有的li排列在一行 */
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 3px;
    border: thin solid blue;
}

/* 第四种情况：垂直排列，有边距 */
.terse_tabs_style3{
    width: 80px;
}
.terse_tabs_style3 .terse_tab_style3{
    line-height: 40px;
    border-radius: 3px;
    text-align: center;
    border: thin solid blue;
}